<!DOCTYPE html>
<html>
<head>

  <title><%= raw(@title) %> - GOV.UK</title>
  <link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/finder-frontend/application-3ac634faf30f677a5b1e8779ebc1c57e.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<%= render partial: 'breadcrumbs/' + action_name + '_breadcrumbs' %>

<nav id="proposition-menu" class="no-proposition-name">
  <ul id="proposition-links">
    <li><a class="" href="/government/organisations">Departments</a></li>
    <li><a class="" href="/government/world">Worldwide</a></li>
    <li><a class="" href="/government/how-government-works">How government works</a></li>
    <li><a class="" href="/government/get-involved">Get involved</a></li>
    <li class="clear-child"><a class="active" href="/government/policies">Policies</a></li>
    <li><a class="" href="/government/publications">Publications</a></li>
    <li><a class="" href="/government/publications?publication_filter_option=consultations">Consultations</a></li>
    <li><a class="" href="/government/statistics">Statistics</a></li>
    <li><a class="" href="/government/announcements">Announcements</a></li>
  </ul>
</nav>

<main id="content" role="main" class="finder-frontend-content">

<%= yield %>

</main>
</div>
<script src="https://assets.digital.cabinet-office.gov.uk/finder-frontend/application-2a734bdd996689c48b49eb63e590fa54.js"></script>
</body>
</html>
