
<!-- POLICIES -->

<div id="finder-frontend">

	<header>
	<%= render partial: 'govuk_component/title', locals: { title: 'Policies' } %>
	<p class="email-link">
	  <a href="https://www.gov.uk/cma-cases/email-signup">Subscribe to email alerts</a>
	</p>
	</header>

	<div class="filtering">
	  <div class="filter-form">
	  <div class="inner-block">
	    <form method="get" action="/cma-cases" class="js-live-search-form">
	      <div class="filter text-filter">
	        <label class="legend" for="finder-keyword-search">Search</label>
	        <input value="" type="text" name="keywords" id="finder-keyword-search" aria-controls="js-search-results-info" class="text">
	      </div>
	      <div class="filter checkbox-filter js-openable-filter" tabindex="0">

	  <div class="head">
	    <span class="legend">Department</span>
	    <div class="controls">
	      <a class="clear-selected js-hidden">clear</a>
	      <div class="toggle"></div>
	    </div>
	  </div>

	  <div class="checkbox-container">
	    <div class="js-auto-height-inner">
	      <label for="ca98-and-civil-cartels">
	        <input type="checkbox" name="case_type[]" value="ca98-and-civil-cartels" id="ca98-and-civil-cartels" aria-controls="js-search-results-info">
					Attorney General's Office
	      </label>
	      <label for="criminal-cartels">
	        <input type="checkbox" name="case_type[]" value="criminal-cartels" id="criminal-cartels" aria-controls="js-search-results-info">
					Cabinet Office
	      </label>
	      <label for="markets">
	        <input type="checkbox" name="case_type[]" value="markets" id="markets" aria-controls="js-search-results-info">
					Department for Business, Innovation & Skills
	      </label>
	      <label for="mergers">
	        <input type="checkbox" name="case_type[]" value="mergers" id="mergers" aria-controls="js-search-results-info">
					Department for Communities and Local Government
	      </label>
	      <label for="consumer-enforcement">
	        <input type="checkbox" name="case_type[]" value="consumer-enforcement" id="consumer-enforcement" aria-controls="js-search-results-info">
					Department for Culture, Media & Sport
	      </label>
	      <label for="regulatory-references-and-appeals">
	        <input type="checkbox" name="case_type[]" value="regulatory-references-and-appeals" id="regulatory-references-and-appeals" aria-controls="js-search-results-info">
					Department for Education
	      </label>
	      <label for="review-of-orders-and-undertakings">
	        <input type="checkbox" name="case_type[]" value="review-of-orders-and-undertakings" id="review-of-orders-and-undertakings" aria-controls="js-search-results-info">
					Department for Environment, Food & Rural Affairs
	      </label>
	    </div>
	  </div>
	</div>


	<!-- <div class="filter checkbox-filter js-openable-filter closed" tabindex="0">
	  <div class="head">
	    <span class="legend">Topic</span>
	    <div class="controls">
	      <a class="clear-selected js-hidden">clear</a>
	      <div class="toggle"></div>
	    </div>
	  </div>
	  <div class="checkbox-container">
	    <div class="js-auto-height-inner">
	      <label for="open">
	        <input type="checkbox" name="case_state[]" value="open" id="open" aria-controls="js-search-results-info">
	        Open
	      </label>
	      <label for="closed">
	        <input type="checkbox" name="case_state[]" value="closed" id="closed" aria-controls="js-search-results-info">
	        Closed
	      </label>
	    </div>
	  </div>
	</div> -->


	<!-- <div class="filter checkbox-filter js-openable-filter closed" tabindex="0">
	  <div class="head">
	    <span class="legend">Market sector</span>
	    <div class="controls">
	      <a class="clear-selected js-hidden">clear</a>
	      <div class="toggle"></div>
	    </div>
	  </div>
	  <div class="checkbox-container">
	    <div class="js-auto-height-inner">
	      <label for="aerospace">
	        <input type="checkbox" name="market_sector[]" value="aerospace" id="aerospace" aria-controls="js-search-results-info">
	        Aerospace
	      </label>
	      <label for="agriculture-environment-and-natural-resources">
	        <input type="checkbox" name="market_sector[]" value="agriculture-environment-and-natural-resources" id="agriculture-environment-and-natural-resources" aria-controls="js-search-results-info">
	        Agriculture, environment and natural resources
	      </label>
	      <label for="building-and-construction">
	        <input type="checkbox" name="market_sector[]" value="building-and-construction" id="building-and-construction" aria-controls="js-search-results-info">
	        Building and construction
	      </label>
	      <label for="chemicals">
	        <input type="checkbox" name="market_sector[]" value="chemicals" id="chemicals" aria-controls="js-search-results-info">
	        Chemicals
	      </label>
	      <label for="clothing-footwear-and-fashion">
	        <input type="checkbox" name="market_sector[]" value="clothing-footwear-and-fashion" id="clothing-footwear-and-fashion" aria-controls="js-search-results-info">
	        Clothing, footwear and fashion
	      </label>
	      <label for="communications">
	        <input type="checkbox" name="market_sector[]" value="communications" id="communications" aria-controls="js-search-results-info">
	        Communications
	      </label>
	      <label for="defence">
	        <input type="checkbox" name="market_sector[]" value="defence" id="defence" aria-controls="js-search-results-info">
	        Defence
	      </label>
	      <label for="distribution-and-service-industries">
	        <input type="checkbox" name="market_sector[]" value="distribution-and-service-industries" id="distribution-and-service-industries" aria-controls="js-search-results-info">
	        Distribution and service industries
	      </label>
	      <label for="electronics-industry">
	        <input type="checkbox" name="market_sector[]" value="electronics-industry" id="electronics-industry" aria-controls="js-search-results-info">
	        Electronics
	      </label>
	      <label for="energy">
	        <input type="checkbox" name="market_sector[]" value="energy" id="energy" aria-controls="js-search-results-info">
	        Energy
	      </label>
	      <label for="engineering">
	        <input type="checkbox" name="market_sector[]" value="engineering" id="engineering" aria-controls="js-search-results-info">
	        Engineering
	      </label>
	      <label for="financial-services">
	        <input type="checkbox" name="market_sector[]" value="financial-services" id="financial-services" aria-controls="js-search-results-info">
	        Financial services
	      </label>
	      <label for="fire-police-and-security">
	        <input type="checkbox" name="market_sector[]" value="fire-police-and-security" id="fire-police-and-security" aria-controls="js-search-results-info">
	        Fire, police and security
	      </label>
	      <label for="food-manufacturing">
	        <input type="checkbox" name="market_sector[]" value="food-manufacturing" id="food-manufacturing" aria-controls="js-search-results-info">
	        Food manufacturing
	      </label>
	      <label for="giftware-jewellery-and-tableware">
	        <input type="checkbox" name="market_sector[]" value="giftware-jewellery-and-tableware" id="giftware-jewellery-and-tableware" aria-controls="js-search-results-info">
	        Giftware, jewellery and tableware
	      </label>
	      <label for="healthcare-and-medical-equipment">
	        <input type="checkbox" name="market_sector[]" value="healthcare-and-medical-equipment" id="healthcare-and-medical-equipment" aria-controls="js-search-results-info">
	        Healthcare and medical equipment
	      </label>
	      <label for="household-goods-furniture-and-furnishings">
	        <input type="checkbox" name="market_sector[]" value="household-goods-furniture-and-furnishings" id="household-goods-furniture-and-furnishings" aria-controls="js-search-results-info">
	        Household goods, furniture and furnishings
	      </label>
	      <label for="mineral-extraction-mining-and-quarrying">
	        <input type="checkbox" name="market_sector[]" value="mineral-extraction-mining-and-quarrying" id="mineral-extraction-mining-and-quarrying" aria-controls="js-search-results-info">
	        Mineral extraction, mining and quarrying
	      </label>
	      <label for="motor-industry">
	        <input type="checkbox" name="market_sector[]" value="motor-industry" id="motor-industry" aria-controls="js-search-results-info">
	        Motor industry
	      </label>
	      <label for="oil-and-gas-refining-and-petrochemicals">
	        <input type="checkbox" name="market_sector[]" value="oil-and-gas-refining-and-petrochemicals" id="oil-and-gas-refining-and-petrochemicals" aria-controls="js-search-results-info">
	        Oil and gas refining and petrochemicals
	      </label>
	      <label for="paper-printing-and-packaging">
	        <input type="checkbox" name="market_sector[]" value="paper-printing-and-packaging" id="paper-printing-and-packaging" aria-controls="js-search-results-info">
	        Paper printing and packaging
	      </label>
	      <label for="pharmaceuticals">
	        <input type="checkbox" name="market_sector[]" value="pharmaceuticals" id="pharmaceuticals" aria-controls="js-search-results-info">
	        Pharmaceuticals
	      </label>
	      <label for="public-markets">
	        <input type="checkbox" name="market_sector[]" value="public-markets" id="public-markets" aria-controls="js-search-results-info">
	        Public markets
	      </label>
	      <label for="recreation-and-leisure">
	        <input type="checkbox" name="market_sector[]" value="recreation-and-leisure" id="recreation-and-leisure" aria-controls="js-search-results-info">
	        Recreation and leisure
	      </label>
	      <label for="retail-and-wholesale">
	        <input type="checkbox" name="market_sector[]" value="retail-and-wholesale" id="retail-and-wholesale" aria-controls="js-search-results-info">
	        Retail and wholesale
	      </label>
	      <label for="telecommunications">
	        <input type="checkbox" name="market_sector[]" value="telecommunications" id="telecommunications" aria-controls="js-search-results-info">
	        Telecommunications
	      </label>
	      <label for="textiles">
	        <input type="checkbox" name="market_sector[]" value="textiles" id="textiles" aria-controls="js-search-results-info">
	        Textiles
	      </label>
	      <label for="transport">
	        <input type="checkbox" name="market_sector[]" value="transport" id="transport" aria-controls="js-search-results-info">
	        Transport
	      </label>
	      <label for="utilities">
	        <input type="checkbox" name="market_sector[]" value="utilities" id="utilities" aria-controls="js-search-results-info">
	        Utilities
	      </label>
	    </div>
	  </div>
	</div> -->


	<!-- <div class="filter checkbox-filter js-openable-filter closed" tabindex="0">
	  <div class="head">
	    <span class="legend">Outcome</span>
	    <div class="controls">
	      <a class="clear-selected js-hidden">clear</a>
	      <div class="toggle"></div>
	    </div>
	  </div>
	  <div class="checkbox-container">
	    <div class="js-auto-height-inner">
	      <label for="ca98-no-grounds-for-action-non-infringement">
	        <input type="checkbox" name="outcome_type[]" value="ca98-no-grounds-for-action-non-infringement" id="ca98-no-grounds-for-action-non-infringement" aria-controls="js-search-results-info">
	        CA98 - no grounds for action
	      </label>
	      <label for="ca98-infringement-chapter-i">
	        <input type="checkbox" name="outcome_type[]" value="ca98-infringement-chapter-i" id="ca98-infringement-chapter-i" aria-controls="js-search-results-info">
	        CA98 - infringement Chapter I
	      </label>
	      <label for="ca98-infringement-chapter-ii">
	        <input type="checkbox" name="outcome_type[]" value="ca98-infringement-chapter-ii" id="ca98-infringement-chapter-ii" aria-controls="js-search-results-info">
	        CA98 - infringement Chapter II
	      </label>
	      <label for="ca98-administrative-priorities">
	        <input type="checkbox" name="outcome_type[]" value="ca98-administrative-priorities" id="ca98-administrative-priorities" aria-controls="js-search-results-info">
	        CA98 - administrative priorities
	      </label>
	      <label for="ca98-commitment">
	        <input type="checkbox" name="outcome_type[]" value="ca98-commitment" id="ca98-commitment" aria-controls="js-search-results-info">
	        CA98 - commitments
	      </label>
	      <label for="criminal-cartels-verdict">
	        <input type="checkbox" name="outcome_type[]" value="criminal-cartels-verdict" id="criminal-cartels-verdict" aria-controls="js-search-results-info">
	        Criminal cartels - verdict
	      </label>
	      <label for="markets-phase-1-no-enforcement-action">
	        <input type="checkbox" name="outcome_type[]" value="markets-phase-1-no-enforcement-action" id="markets-phase-1-no-enforcement-action" aria-controls="js-search-results-info">
	        Markets - phase 1 no enforcement action
	      </label>
	      <label for="markets-phase-1-undertakings-in-lieu-of-reference">
	        <input type="checkbox" name="outcome_type[]" value="markets-phase-1-undertakings-in-lieu-of-reference" id="markets-phase-1-undertakings-in-lieu-of-reference" aria-controls="js-search-results-info">
	        Markets - phase 1 undertakings in lieu of reference
	      </label>
	      <label for="markets-phase-1-referral">
	        <input type="checkbox" name="outcome_type[]" value="markets-phase-1-referral" id="markets-phase-1-referral" aria-controls="js-search-results-info">
	        Markets - phase 1 referral
	      </label>
	      <label for="mergers-phase-1-clearance">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-1-clearance" id="mergers-phase-1-clearance" aria-controls="js-search-results-info">
	        Mergers - phase 1 clearance
	      </label>
	      <label for="mergers-phase-1-clearance-with-undertakings-in-lieu">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-1-clearance-with-undertakings-in-lieu" id="mergers-phase-1-clearance-with-undertakings-in-lieu" aria-controls="js-search-results-info">
	        Mergers - phase 1 clearance with undertakings in lieu
	      </label>
	      <label for="mergers-phase-1-referral">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-1-referral" id="mergers-phase-1-referral" aria-controls="js-search-results-info">
	        Mergers - phase 1 referral
	      </label>
	      <label for="mergers-phase-1-found-not-to-qualify">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-1-found-not-to-qualify" id="mergers-phase-1-found-not-to-qualify" aria-controls="js-search-results-info">
	        Mergers - phase 1 found not to qualify
	      </label>
	      <label for="mergers-phase-1-public-interest-interventions">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-1-public-interest-interventions" id="mergers-phase-1-public-interest-interventions" aria-controls="js-search-results-info">
	        Mergers - phase 1 public interest intervention
	      </label>
	      <label for="markets-phase-2-clearance-no-adverse-effect-on-competition">
	        <input type="checkbox" name="outcome_type[]" value="markets-phase-2-clearance-no-adverse-effect-on-competition" id="markets-phase-2-clearance-no-adverse-effect-on-competition" aria-controls="js-search-results-info">
	        Markets - phase 2 clearance - no adverse effect on competition
	      </label>
	      <label for="markets-phase-2-adverse-effect-on-competition-leading-to-remedies">
	        <input type="checkbox" name="outcome_type[]" value="markets-phase-2-adverse-effect-on-competition-leading-to-remedies" id="markets-phase-2-adverse-effect-on-competition-leading-to-remedies" aria-controls="js-search-results-info">
	        Markets - phase 2 adverse effect on competition leading to remedies
	      </label>
	      <label for="markets-phase-2-decision-to-dispense-with-procedural-obligations">
	        <input type="checkbox" name="outcome_type[]" value="markets-phase-2-decision-to-dispense-with-procedural-obligations" id="markets-phase-2-decision-to-dispense-with-procedural-obligations" aria-controls="js-search-results-info">
	        Markets - phase 2 decision to dispense with procedural obligations
	      </label>
	      <label for="mergers-phase-2-clearance">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-2-clearance" id="mergers-phase-2-clearance" aria-controls="js-search-results-info">
	        Mergers - phase 2 clearance
	      </label>
	      <label for="mergers-phase-2-clearance-with-remedies">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-2-clearance-with-remedies" id="mergers-phase-2-clearance-with-remedies" aria-controls="js-search-results-info">
	        Mergers - phase 2 clearance with remedies
	      </label>
	      <label for="mergers-phase-2-prohibition">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-2-prohibition" id="mergers-phase-2-prohibition" aria-controls="js-search-results-info">
	        Mergers - phase 2 prohibition
	      </label>
	      <label for="mergers-phase-2-cancellation">
	        <input type="checkbox" name="outcome_type[]" value="mergers-phase-2-cancellation" id="mergers-phase-2-cancellation" aria-controls="js-search-results-info">
	        Mergers - phase 2 cancellation
	      </label>
	      <label for="consumer-enforcement-no-action">
	        <input type="checkbox" name="outcome_type[]" value="consumer-enforcement-no-action" id="consumer-enforcement-no-action" aria-controls="js-search-results-info">
	        Consumer enforcement - no formal action
	      </label>
	      <label for="consumer-enforcement-court-order">
	        <input type="checkbox" name="outcome_type[]" value="consumer-enforcement-court-order" id="consumer-enforcement-court-order" aria-controls="js-search-results-info">
	        Consumer enforcement - court order
	      </label>
	      <label for="consumer-enforcement-undertakings">
	        <input type="checkbox" name="outcome_type[]" value="consumer-enforcement-undertakings" id="consumer-enforcement-undertakings" aria-controls="js-search-results-info">
	        Consumer enforcement - undertakings
	      </label>
	      <label for="consumer-enforcement-changes-to-business-practices-agreed">
	        <input type="checkbox" name="outcome_type[]" value="consumer-enforcement-changes-to-business-practices-agreed" id="consumer-enforcement-changes-to-business-practices-agreed" aria-controls="js-search-results-info">
	        Consumer enforcement - changes to business practices agreed
	      </label>
	      <label for="regulatory-references-and-appeals-final-determination">
	        <input type="checkbox" name="outcome_type[]" value="regulatory-references-and-appeals-final-determination" id="regulatory-references-and-appeals-final-determination" aria-controls="js-search-results-info">
	        Regulatory references and appeals - final determination
	      </label>
	    </div>
	  </div>
	</div> -->


	<div class="filter text-filter">
	  <label class="legend" for="opened_date[from]">Published after</label>
	  <input value="" type="text" name="opened_date[from]" id="opened_date[from]" aria-controls="js-search-results-info" aria-describedby="date-help-text" class="text">

	  <label class="legend" for="opened_date[to]">Published before</label>
	  <input value="" type="text" name="opened_date[to]" id="opened_date[to]" aria-controls="js-search-results-info" class="text" aria-describedby="date-help-text">
	  <span id="date-help-text" class="help-text">For example, 2005 or 21/11/2014<span>
	</span></span>
	</div>

	      <input type="submit" value="Filter results" class="button js-live-search-fallback">
	    </form>
	  </div>
	</div>

	  <div class="js-live-search-results-block">
	    <div class="filtered-results">
	      <div aria-live="assertive" id="js-search-results-info">

	      </div>
	      <div id="js-results">
	        <div class="feed">
	  <span>Get updates to this list</span>
	  <a href="#">feed</a>
	</div>

	<ul>
	    <li class="document">
	      <h3><a href="<%= root_url %>policies/benefits-reform">Benefits reform</a></h3>
	      <!-- <dl>
	            <dt class="metadata-text-label">Case type:</dt>
	            <dd class="metadata-text-value">Mergers</dd>

	            <dt class="metadata-text-label">Case state:</dt>
	            <dd class="metadata-text-value">Open</dd>

	            <dt class="metadata-text-label">Market sector:</dt>
	            <dd class="metadata-text-value">Food manufacturing</dd>

	            <dt class="metadata-text-label">Outcome type:</dt>
	            <dd class="metadata-text-value">Mergers - phase 1 referral</dd>


	            <dt class="metadata-date-label">Opened:</dt>
	            <dd class="metadata-date-value"><time datetime="2014-08-21">21 August 2014</time></dd>
	      </dl> -->
	    </li>

			<li class="document">
	      <h3><a href="<%= root_url %>policies/localism">Localism</a></h3>
	      <!-- <dl>
	            <dt class="metadata-text-label">Case type:</dt>
	            <dd class="metadata-text-value">Mergers</dd>

	            <dt class="metadata-text-label">Case state:</dt>
	            <dd class="metadata-text-value">Open</dd>

	            <dt class="metadata-text-label">Market sector:</dt>
	            <dd class="metadata-text-value">Food manufacturing</dd>

	            <dt class="metadata-text-label">Outcome type:</dt>
	            <dd class="metadata-text-value">Mergers - phase 1 referral</dd>


	            <dt class="metadata-date-label">Opened:</dt>
	            <dd class="metadata-date-value"><time datetime="2014-08-21">21 August 2014</time></dd>
	      </dl> -->
	    </li>

			<li class="document">
	      <h3><a href="<%= root_url %>policies/railway">Railway</a></h3>
	      <!-- <dl>
	            <dt class="metadata-text-label">Case type:</dt>
	            <dd class="metadata-text-value">Mergers</dd>

	            <dt class="metadata-text-label">Case state:</dt>
	            <dd class="metadata-text-value">Open</dd>

	            <dt class="metadata-text-label">Market sector:</dt>
	            <dd class="metadata-text-value">Food manufacturing</dd>

	            <dt class="metadata-text-label">Outcome type:</dt>
	            <dd class="metadata-text-value">Mergers - phase 1 referral</dd>


	            <dt class="metadata-date-label">Opened:</dt>
	            <dd class="metadata-date-value"><time datetime="2014-08-21">21 August 2014</time></dd>
	      </dl> -->
	    </li>

			<li class="document">
	      <h3><a href="<%= root_url %>policies/employment">Employment</a></h3>
	      <!-- <dl>
	            <dt class="metadata-text-label">Case type:</dt>
	            <dd class="metadata-text-value">Mergers</dd>

	            <dt class="metadata-text-label">Case state:</dt>
	            <dd class="metadata-text-value">Open</dd>

	            <dt class="metadata-text-label">Market sector:</dt>
	            <dd class="metadata-text-value">Food manufacturing</dd>

	            <dt class="metadata-text-label">Outcome type:</dt>
	            <dd class="metadata-text-value">Mergers - phase 1 referral</dd>


	            <dt class="metadata-date-label">Opened:</dt>
	            <dd class="metadata-date-value"><time datetime="2014-08-21">21 August 2014</time></dd>
	      </dl> -->
	    </li>
	</ul>

	      </div>
	    </div>
	  </div>
	</div>
</div>
